.feynman__link{ 
    line-height: 51px; 
    font-size: 36px; 
    font-weight: normal; 
    position: absolute; 
    top: 50%; 
    right: 40px; 
    text-decoration: none; 
    color: black; 
  }
  .feynman__link:hover{
    color: #61BBFF;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  }