.header__subtitle{ 
    line-height: 25px; 
    font-size: 18px; 
    font-weight: normal; 
    position: absolute; 
    align-self: flex-end; 
    width: 388px; 
    left: 64px; 
    bottom: 30px; 
  } 