.khan__buy-link{
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin-top: 0;
    margin-left: 48px;
    color: #2f80ed; 
    text-decoration: none; 
    opacity: 1;
    position: absolute;
    top: 0;
}
.khan__buy-link:hover{
    color: #61BBFF;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; */
    opacity: .7;
    transition: opacity ease-in-out .9s;
    transition: color ease-in-out .9s;
    transition: text-shadow ease-in-out .9s;
}